<div class = "card-container">
    <mat-card *ngFor="let movie of currentMovies; let i=index" class="movie-card">
        <mat-card-header style="margin: 0 auto">
            <mat-card-title
                style = "
                    font-size: 1.5em;
                    white-space: nowrap;
                    overflow: hidden;
                "        
            >
                {{movie.title}}
            </mat-card-title>
            <mat-card-subtitle
                style="color: rgba(255,255,255,0.5);"
            >
                Directed by: {{movie.director.name}}
            </mat-card-subtitle>
        </mat-card-header>
        <img 
            class="movie-image"
            src={{movie.image}}
            alt={{movie.title}}
            (click)="openMovieCardDialog(movie)"
            (keydown.enter)="openMovieCardDialog(movie)"
            tabindex=i
        />
        
        <mat-card-actions
            class="button-bar"
        >
            <button
                mat-raised-button
                color="primary"
                style="margin: auto 2px"
                (click)="openGenreCardDialog(movie.genre)"
            >
                Genre
            </button>
            <button
                mat-raised-button
                color="primary"
                style="margin: auto 2px"
                (click)="openDirectorCardDialog(movie.director)"
            >
                Director
            </button>
            <button
                mat-raised-button
                color="primary"
                style="margin: auto 2px"
                (click)="openMovieCardDialog(movie)"
            >
                Synopsis
            </button>
            <button
                mat-icon-button (click)="toggleFavorite(movie)"
            >
                <mat-icon> {{isFavorite(movie)? 'favorite' : 'favorite_border'}}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>